* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #333;
}
section:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
section:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: yellow;
    border: 3px solid black;
}

section {
    display: flex;
    flex-direction: row;

}

/*1. Flexbox jest jednokierunkowy
 2. Flexa nadajemy na rodzicu*/